/*
Error: Inconsistent indentation: 6 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 6 of container.sass

1: .container
2:     display: flex
3:     padding: 0
4: 
5:     .container.is-open &
6:       transform: translate3d(0px, 0, 0)
7: 
8:     .container__sidebar
9:         display: block
10:         width: 10%
11:         min-width: 120px

Backtrace:
container.sass:6
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:489:in `block in tabulate'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:447:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:447:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:447:in `tabulate'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:412:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 6 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 6 of container.sass\A \A 1: .container\A 2:     display: flex\A 3:     padding: 0\A 4: \A 5:     .container.is-open &\A 6:       transform: translate3d(0px, 0, 0)\A 7: \A 8:     .container__sidebar\A 9:         display: block\A 10:         width: 10%\A 11:         min-width: 120px"; }
